<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-gb">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<meta name="author" content="Hazirguo" />
	<!-- <link href="http://feeds.feedburner.com/rogchap" rel="alternate" title="Roger Chapman" type="application/atom+xml" />  -->
	<link rel="stylesheet" href="{{ site.baseurl}}/css/syntax.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ site.baseurl}}/css/screen.css" type="text/css" media="all" />
	<link rel="stylesheet" href="{{ site.baseurl}}/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
	<link rel="stylesheet" href="{{ site.baseurl}}/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
</head>
<body>
	<div class="site">
		<div class="title"><a href="{{ site.baseurl }}">Computer Architecture Course Blog</a></div>
		{{ content }}
		<div class="footer">
			<div class="contact">
				<p>
					Hailin Guo<br/>
					Archlab, West Campus E3421, USTC<br/>
					guohl@mail.ustc.edu.cn
				</p>
			</div>
			<div class="contact">
				<p>
					<a href="http://github.com/hazirguo/">github.com/hazirguo</a><br />
					<a href="http://weibo.com/haifenglinying/">weibo.com/haifenglinying</a><br />
					<a href="http://blog.csdn.net/hazir/">http://blog.csdn.net/hazir</a>
				</p>
			</div>
		 	<div class="rss">
				<a href="http://hazirguo.github.io/Computer_Architecture/atom.xml">RSS Feed</a>
			</div>
		</div>
	</div>
</body>
<html>
